@import "./reset";
@import "./variables";
@import "./font";
@import "./common";

body {
  font-family: "Roboto";
  color: $midDark;
  height: 100vh;
  background: $lightGray;
}

#root {
  height: 100%;
}
