@import "./variables";
@import "./font";
@import "./common";
@import "./reset";

body {
  font-family: "Roboto";
  color: $midDark;
  height: 100vh;
  background: $lightGray;
}

#root {
  height: 100%;
}
